#head {
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    left: 300px;
}
#beak {
    background-color: orange;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 100px;
    left: 350px;
}
#left-eye, #right-eye {
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
}
#left-eye {
    left: 320px;
}
#right-eye {
    left: 400px;
}
#body {
    background-color: brown;
    height: 275px;
    width: 200px;
    border-radius: 30%;
    position: absolute;
    top: 180px;
    left: 305px;
}

#left-foot, #right-foot {
    background-color: rgb(243, 156, 84);
    width: 30px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 350px;
}

#right-foot {

    left: 420px;
}


#right-wing, #left-wing {
    background-color: brown;
    width: 100px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 175px;
}
#right-wing {
    left: 450px;
    transform: rotate(-30deg);
}
#left-wing {
    left: 250px;
    transform: rotate(30deg);
}