body {
    background-image: url(houseimg/halloweenbkgnd.jpg);
    background-color: #333300;
    background-repeat: repeat-x;
    background-size: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    overflow: hidden;
}
#text{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 300px;
    height: 100px;
    text-align: right;
    color: orange;
    text-shadow: #4b1400 2px 2px 4px;
    z-index: 10;
    background-color: #4b1400a0;
}
#text h1{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#text h2{
    color: wheat;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}   
#text a {
    margin: 0;
    padding: 0;
    color: orange;
    font-size: 10px;
    text-shadow: #4b1400 2px 2px 4px;
}
#roof{
    position: absolute;
    top: -80px;
    margin: auto;
    z-index: 1;
}
#house{
    width: 430px;
    top: 20px;
    height: 440px;
    background-image: url(houseimg/wall.JPG);
    margin: auto;
    overflow-y: scroll;
    scrollbar-color: #8B4513 #D2B48C;
    scrollbar-width: thin;
    position: relative;
    z-index: 0;
}
#window{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
#window2{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
#window3{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
#window4{
    position: absolute;
    top: 250px;
    right: 50px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
#window5{
    position: absolute;
    top: 500px;
    left: 50px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
#grass{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: url(houseimg/leaves.JPG);
    z-index: -2;
}